<app-navbar></app-navbar>
<div class="container fontfamilyJosefin">
  <div  class="window-container" *ngIf="this.router.url != '/txhistory' && this.router.url != '/accountInfo'">
    <router-outlet></router-outlet>
  </div>
  <div class="window-container " *ngIf="this.router.url == '/txhistory'||this.router.url == '/accountInfo'">
    <app-transaction-bar class="overflow" *ngIf="this.router.url == '/txhistory'"></app-transaction-bar>
    <app-info-bar *ngIf="this.router.url == '/accountInfo'"></app-info-bar>
  </div>
  </div>
