@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import 'variable.scss';
@import 'dropdown.scss';

@font-face {
  font-family: "Consolas";
  src: url("assets/font/consola.ttf");
}

$middle-blue-background: #e4f0ff;


html {
  height: 100%;
  position: relative;
  min-height: 100%;
  background-color: $light_blue_bg;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: $ff;
  font-size: $fz;
  background-color: $light_blue_bg;
}
.fontfamilyJosefin[_ngcontent-c0] {
  font-family: 'Josefin Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6{
  font-family: $ff_title;
  font-weight: $fw;
}

.navbar {
  margin-bottom: 0px !important;
}

h3{
  font-size: 2.2rem;
  margin: 0;
  padding: 0;
}

.page-container {
  margin-top: 0px !important;
  padding: 1% !important;
}
#submit {
  padding: 8px 16px;
  min-width: 150px;
  font-size: $fz;
  font-weight: $fw_bold;
  white-space: normal;
  line-height: 1.3;
  color: #fff !important;
  background-color: #000000 !important;
  //  background-color: #26445B !important;
}
.button-submit{
  border-radius: .25rem !important;
  color: #fff !important;
  background-color: #000000 !important;
  //  background-color: #26445B !important;
}
// modal style
.shadow{
  box-shadow: 5px 5px 5px 5px #888888;
}
.modal-header{
  //  background: #26445B !important;
  background-color: #000000 !important;
  color: #fff;
}
.modal-header h4{
  width:100%;
  padding: 1%;
}
.modal-header .close {
  color: #fff;
}
// modal style ends

.content {
  margin-bottom: $block_m_h;
  @media screen and (max-width: $xl){
    margin-bottom: $block_m_h_lg;
  }
  @media screen and (max-width: $lg){
    margin-bottom: $block_m_h_md;
  }
}
.cdk-overlay-container{
  z-index:1050 !important
}
.cdk-describedby-message-container{
  z-index:1050 !important
}
.main-content{
  background-color: $white;
}

.fill-height {
  height:100% !important;
}

.full-width {
  width: 100% !important;
}

.checkbox-md {
  width: 20px; height: 20px;
  vertical-align: middle;
}

.middle-blue-background {
  background-color: $middle-blue-background;
}

.light-blue-background {
  background-color: $light_blue_bg;
}

.text-sepia{
  color: $sepia;
}

.blue-line {
  padding-top: 50px;
  background-color: $light_blue_bg;
}

.cdk-overlay-container .mat-option, .mat-card, .mat-input-element, .mat-checkbox-label {
  font-family: $ff;
}

.mat-input-element {
  color: $dark!important;
}

.mat-checkbox-label {
  font-size: 1rem;
}

.perfect-scrollbar {
  .ps, .ps.ps--scrolling-y, .ps.ps--scrolling-x{
    .ps__rail-y, .ps__rail-x{
      background-color: transparent !important;
      &:hover{
        background-color: transparent !important;
      }
    }
    .ps__rail-y{
      .ps__thumb-y{
        border-radius: 0;
        background: $blue !important;
      }
    }
    .ps__rail-x{
      .ps__thumb-x{
        border-radius: 0;
        background: $blue !important;
      }
    }
  }
}

.btn-width-file {
  display: flex;
  flex-direction: column;
  margin-right: 10px;

  .label-wrapp{
    display: flex;
    align-items: center;
    margin-bottom: -30px;
    .file-label {
      margin-right: 6px;
      white-space: nowrap;
    }
    .mat-tooltip-btn{
      top: -3px;
    }
  }

  .button-container {
    padding-left: 180px;
    #submit {
      margin-left: -180px;
    }
  }

  @media screen and (max-width: $sm) {
    justify-content: center;
    flex-direction: column;

    .label-wrapp{
      align-self: center;
      margin-bottom: 0;
      .file-label {
        margin-bottom: 0;
      }
    }

    .button-container {
      margin-top: $block_m_h_md;
      width: 100%;
    }
  }
}

@media screen and (max-width: $md) {
  *{
    cursor: pointer; // for Safary tap
  }
}

/* Medium devices (landscape tablets, 800px and up) */
@media only screen and (min-width: 800px) {
  .container{
    max-width: 100% !important;
    padding: 0 7%  !important;
  }
}
/* Medium devices ( 800px and down) */
@media only screen and (max-width: 800px) {
  .container{
    max-width: 100% !important;
    padding: 0% 8% !important;
  }
}
/* Medium devices ( 600px and down) */
@media only screen and (max-width: 600px) {
  .container{
    max-width: 100% !important;
    padding: 0% !important;
  }
}

.bottom-shadow{
  box-shadow: 0px 0px 7px 1px rgba(97,96,96,0.79);
  // -webkit-box-shadow: 0px 3px 8px 1px rgba(97,96,96,0.79);
  // -moz-box-shadow: 0px 3px 8px 1px rgba(97,96,96,0.79);
}

// @media (min-width: 1200px){
// .container {
//     max-width: 1230px;
// }
// }

// .shadow-container{
//   position: relative !important;
//   box-shadow: 0px 0px 48px -20px rgba(97,96,96,0.79) !important;
// }
// .shadow-container:after {
//     content: '';
//     position: absolute;
//     left: 0;
//     right: 0;
//     top: 0;
//     bottom: 0;
//     z-index: -1;
//     box-shadow: 0px 0px 48px -20px rgba(97,96,96,0.79);
// }
