<div class="page-container">
	  <div class="container shadow-lg p-3 mb-5 bg-white rounded">
        <form class="form-group" [formGroup]="faucetForm" >

            <input type="text" formControlName="accountName" name="accountName" placeholder="Account Name" class="form-control" required pattern="[a-zA-Z1-5]*" minlength="12" maxlength="12" required>
            <br/>
          <div class="page-container" >
            <button class="btn btn-outline-success" id="tranferAmount"  type="submit" (click)="transferDRMCTokens()">
                Get DRMC Tokens
            </button>
            </div>
        </form>
</div>

<div class="container shadow-lg p-3 mb-5 bg-white rounded">
    <form class="form-group" [formGroup]="faucetForm" >

        <input type="text" formControlName="accountName" name="accountName" placeholder="Account Name" class="form-control" required pattern="[a-zA-Z1-5]*" minlength="12" maxlength="12" required>
        <br/>
      <div class="page-container" >
        <button class="btn btn-outline-success" id="tranferAmount"  type="submit" (click)="transferDRMITokens()">
            Get DRMI Tokens
        </button>
        </div>
    </form>
</div>
</div>
