<header id="page-header" class="pgheader">
  <div class="header">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="headcontent">
        <a class="navbar-brand logo_h" href="index.html"> <img src="../../assets/images/logo.png" height="50" width="150"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>

        <div class="collapse navbar-collapse offset" id="navbarSupportedContent">
          <ul class="nav navbar-nav menu_nav justify-content-end" id="listbar">
            <li class="nav-item active "><a class="nav-link cursor-pointer" [routerLink]="['/']" routerLinkActive="active">Home</a></li>
            <li class="nav-item"><a class="nav-link cursor-pointer" [routerLink]="['/findAccount']" routerLinkActive="active">Search Account</a></li>
            <li class="nav-item"><a class="nav-link cursor-pointer" [routerLink]="['/faucet']" routerLinkActive="active">Faucet</a></li>
            <li class="nav-item"><a class="nav-link cursor-pointer" [routerLink]="['/faucet']" routerLinkActive="active">About</a></li>
            <li class="nav-item"><a class="nav-link cursor-pointer" [routerLink]="['/faq']" routerLinkActive="active">FAQ</a></li>
            <li class="nav-item"><a class="nav-link cursor-pointer" [routerLink]="['/signup']" routerLinkActive="active">Sign Up</a></li>
            <li class="nav-item"><a class="nav-link cursor-pointer" data-toggle="modal" data-target="#logIn">Login</a></li>

            <!-- <li class="nav-item"><a class="nav-link" href="index.html">Home</a></li>
            <li class="nav-item active"><a class="nav-link" href="feature.html">Feature</a></li>
            <li class="nav-item"><a class="nav-link" href="pricing.html">Price</a></li>
            <li class="nav-item submenu dropdown">
              <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pages</a>
              <ul class="dropdown-menu">
                <li class="nav-item"><a class="nav-link" href="blog.html">Blog</a></li>
                <li class="nav-item"><a class="nav-link" href="blog-details.html">Blog Details</a></li>
              </ul>
            </li>
            <li class="nav-item"><a class="nav-link" href="contact.html">Contact</a></li> -->
          </ul>
          <!-- <ul class="navbar-right" id="sign">
            <li class="nav-item">
              <button class="button button-header bg" [routerLink]="['/signup']">Sign up</button>
            </li>
            <li class="nav-item">
              <button class="button button-header bg" [routerLink]="['/login']">Login</button>
            </li>
          </ul> -->
        </div>
      </div>
    </nav>
  </div>
</header>
