<div class= "page-container">
  <div class="window-container shadow-lg mb-5 bg-white rounded">
    <h3 class="text-center header">{{'login.connect-account' | translate}}</h3>

    <div class=" text-block">
      <form class="col-12" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" *ngIf="!showEnterPassword()">

        <!-- Modal body -->
        <div class="modal-body">
          <!-- <div class="page-container"> -->
          <div class="window-container">
            <div class="row form-items">
              <div class="item d-flex">
                <mat-form-field class="full-width" #tooltip="matTooltip" matTooltip="{{'login.data' | translate}}">
                  <input matInput type="password" id="privateKey" placeholder="{{'common.private-key' | translate}}" [(ngModel)]="model.privateKey"
                  name="privateKey" required #privateKey="ngModel" (input)="onPrivatePass($event)" minlength="51" maxlength="51">
                  <mat-error *ngIf="privateKey.errors?.required">{{'login.private-key' | translate}} {{'errors.is-required' |
                    translate}}</mat-error>
                  </mat-form-field>
                  <button type="button" class="mat-tooltip-btn mt-2" mat-raised-button
                  (click)="tooltip.show()">
                  <fa-icon [ngClass]="{'grey-icon': !loginService.loggedIn()}" [icon]="faQuestionCircle"></fa-icon>
                </button>
              </div>

              <div class="item label-wrapp">
                <app-unchanged-field-login messageTitle="{{'login.public-key' | translate}}" messageValue="{{model.publicKey}}"></app-unchanged-field-login>
              </div>

              <div class="item label-wrapp">
                <app-unchanged-field-login class="card-info" messageTitle="{{'login.account-name' | translate}}" messageValue="{{model.accountName ? model.accountName+'@'+model.permission : ''}}"
                bold="true"></app-unchanged-field-login>
              </div>
            </div>
          </div>
          <!-- </div> -->
        </div>

        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="submit" class="button-submit btn btn-secondary" mat-raised-button>{{'buttons.connect' | translate}}</button><br>
        </div>
        <div class="create">
          <p> Don't have an account , <a class="green-color" [routerLink]="['/signup']">Create one </a></p>
        </div>
      </form>
    </div>

  </div>
</div>
