<app-header></app-header>
<section id="index">
  <div class="dc-landing">
    <div class="row">
      <div class="col-sm-6 col-md-5 col-lg-5 order-sm-12 dc-landing-index-img-wrap">
        <img src="./../../../assets/images/index.png" class="dc-landing-index-image" alt="Landing page background">
      </div>
      <div class="col-sm-6 col-md-7 col-lg-7 order-sm-1 dc-landing-md-t">
        <h2>Welcome to the future of mirrored reality</h2>
        <p class="dc-landing-index-content">The miir.world (“mirror world”) is coming soon where everyone and everything
          has a digital twin. Create your miir (“mirror”) digital persona to interact in miir.world where, unlike
          today’s internet, only you control all your data, privacy and licensing rights.</p>
        <ul class="dc-landing-btns">
          <li routerLink="/register">
            Create New Wallet
          </li>
          <li routerLink="/login">
            Go to My Wallet
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<section id="about">
  <div class="row dc-landing-about">
    <div class="col-sm-6 col-md-7 col-lg-7 dc-landing-md-t">
      <h2>About</h2>
      <p class="dc-landing-about-content">Built on the DREAMCHAIN tokenized mirrored assets platform, you can earn
        and spend Dreamium stored value tokens on a secure and decentralized next generation blockchain</p>

    </div>
    <div class="col-sm-6 col-md-5 col-lg-5 dc-landing-about-img-wrap">
      <img src="./../../../assets/images/about.png" class="dc-landing-about-image" alt="Landing page background">

    </div>
  </div>
</section>
<section>
  <div class="row dc-lt-small-section">
    <div class="col-sm-12 col-md-12 col-lg-12 dc-landing-quote">
      <h1 class="text-center">“Come join the early pioneers of the new world of tokenized mirrored
        reality”</h1>
    </div>
  </div>
</section>

<section id="faq">
  <div class="row dc-landing-faq">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h2 class="dc-landing-faq-heading">FAQs</h2>
      <section class="accordion-section clearfix mt-3" aria-label="Question Accordions">
        <div class="container">
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="heading0">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                    href="#collapse0" aria-expanded="true" aria-controls="collapse0">
                    How do you store my keys?
                  </a>
                </h3>
              </div>
              <div id="collapse0" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading0">
                <div class="panel-body px-3 mb-4">
                  <p>We don't store your keys, they located in your Browser local storage, so we don't know them and
                    can't restore. Remember: We do not store any user private data.</p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="heading1">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                    href="#collapse1" aria-expanded="true" aria-controls="collapse1">
                    Can I stake/unstake my Dreamchain Tokens in your wallet?
                  </a>
                </h3>
              </div>
              <div id="collapse1" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading1">
                <div class="panel-body px-3 mb-4">
                  <p>Yes, you can perform these actions also as others: vote, delegate, create new accounts and much
                    more. Just log in your account.</p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="heading2">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                    href="#collapse2" aria-expanded="true" aria-controls="collapse2">
                    Do you have a mobile application?
                  </a>
                </h3>
              </div>
              <div id="collapse2" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading2">
                <div class="panel-body px-3 mb-4">
                  <p>No, currently we have created only a web browser application, but you can use on your mobile
                    devices also.</p>
                </div>
              </div>
            </div>

            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="heading3">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                    href="#collapse3" aria-expanded="true" aria-controls="collapse3">
                    Do you support Airdrops?
                  </a>
                </h3>
              </div>
              <div id="collapse3" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading3">
                <div class="panel-body px-3 mb-4">
                  <p>We support all major Dreamchain Tokens airdrops, contact us in telegram if we missed the good one.
                  </p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="heading4">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                    href="#collapse4" aria-expanded="true" aria-controls="collapse3">
                    I am a developer, can I use your code?
                  </a>
                </h3>
              </div>
              <div id="collapse4" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading4">
                <div class="panel-body px-3 mb-4">
                  <p>Yes, we have created open source software, so you can fork or update it.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="heading5">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                    href="#collapse5" aria-expanded="true" aria-controls="collapse3">
                    Can I restore my Dreamchain Tokens wallet in another device?
                  </a>
                </h3>
              </div>
              <div id="collapse5" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading5">
                <div class="panel-body px-3 mb-4">
                  <p>Yes, you can restore your wallet in any device. You should only know your Private keys or be logged
                    in Scatter.</p>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading p-3 mb-3" role="tab" id="heading6">
                <h3 class="panel-title">
                  <a class="collapsed" role="button" title="" data-toggle="collapse" data-parent="#accordion"
                    href="#collapse6" aria-expanded="true" aria-controls="collapse3">
                    Houston, we have a problem. Who can help me?
                  </a>
                </h3>
              </div>
              <div id="collapse6" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading6">
                <div class="panel-body px-3 mb-4">
                  <p>In case you have problems in connection to our wallet, work with accounts, managing your Dreamchain
                    Tokens and others - just contact us via telegram, we would be happy to assist you.</p>
                </div>
              </div>
            </div>
          </div>

        </div>
      </section>

    </div>

  </div>
</section>
<section>
  <div class="row dc-landing-social">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <h5 class="dc-landing-social-join text-center">Join Our Community</h5>
      <div class="d-flex justify-content-center">
        <ul class="dc-lt-social">
          <li class="dc-lt-social-icons">
            <a><img class="dc-lt-social-icons-img" src="../../../../assets/icons/y.png"><br />
              <p>Youtube</p>
            </a>
          </li>

          <li class="dc-lt-social-icons">
            <a><img class="dc-lt-social-icons-img" src="../../../../assets/icons/g.png"><br />
              <p>Github</p>
            </a>
          </li>


          <li class="dc-lt-social-icons">
            <a><img class="dc-lt-social-icons-img" src="../../../../assets/icons/r.png"><br />
              <p>Reddit</p>
            </a>
          </li>

          <li class="dc-lt-social-icons">
            <a><img class="dc-lt-social-icons-img" src="../../../../assets/icons/t.png"><br />
              <p>Twitter</p>
            </a>
          </li>

          <li class="dc-lt-social-icons">
            <a><img class="dc-lt-social-icons-fb" src="../../../../assets/icons/f.png"><br />
              <p>Facebook</p>
            </a>
          </li>
          <li class="dc-lt-social-icons">
            <a><img class="dc-lt-social-icons-img" src="../../../../assets/icons/m.png"><br />
              <p> Medium </p>
            </a>
          </li>

        </ul>
      </div>
    </div>

  </div>
</section>
<app-footer></app-footer>
