<div class= "page-container">
  <div class="window-container shadow-lg mb-5 bg-white rounded">
    <h3 class=" text-center header" *ngIf="this.sectionHide">{{'generate-key-pair.title' | translate}}</h3>
    <h3 class=" text-center header" *ngIf="!this.sectionHide">{{'create-account.create-account' | translate}}</h3>

    <div class=" text-block">
    <!-- form Starts -->
      <form (ngSubmit)="f.form.valid" #f="ngForm" *ngIf="this.sectionHide">
        <!-- Modal body -->
        <div class="modal-body">
          <div class= "page-container">
            <div class="window-container ">
              <div class="text-block">
                <p>{{'generate-key-pair.upper-block' | translate}}</p>
              </div>

              <!-- <div class="card-block">
                <p class="text-center">Owner KeyPair</p>
                <mat-card class="card-blue">{{'common.public-key' | translate}}: <span class="info-text">{{pubKeyActive}}</span></mat-card>
                <mat-card class="card-blue">{{'common.private-key' | translate}}: <span class="info-text">{{privKeyActive}}</span> </mat-card>
              </div> -->

              <div class="card-block">
                <p class="text-center">Active KeyPair</p>
                <mat-card class="card-blue">{{'common.public-key' | translate}}: <span class="info-text">{{pubKeyActive}}</span>
                <p class="text-right"><button class="btn btn-light" id="pubKeyActive" *ngIf="!this.sectionBtn" (click)="copypubKeyActive()" data-tippy-content="Copied to clipboard!">Copy to clipboard!</button></p></mat-card>
                <mat-card class="card-blue">{{'common.private-key' | translate}}: <span class="info-text">{{privKeyActive}}</span>
                <p class="text-right"><button class="btn btn-light" id="privKeyActive" *ngIf="!this.sectionBtn" (click)="copyprivKeyActive()" data-tippy-content="Copied to clipboard!">Copy to clipboard!</button></p></mat-card>

              </div>

              <div class="text-block">
                <p>{{'generate-key-pair.lower-block' | translate}}</p>
              </div>
            </div>
            <div class="side-bar" [hidden]="!loggedIn()">
              <app-side-bar></app-side-bar>
            </div>
          </div>
        </div>
        <!-- Modal body Ends -->
        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="text-center">
            <button id="submit" class="submit button-submit" type="button" *ngIf="this.sectionBtn" mat-raised-button color="$blue" on (click)="onKeySubmit()">{{'buttons.generate' | translate}}</button>
            <button id="submit" class="submit button-submit" type="button" *ngIf="!this.sectionBtn" mat-raised-button color="$blue" on (click)="continueClick()">{{'buttons.continue' | translate}}</button>

          </div>
        </div>

        <div class="create" *ngIf="this.sectionBtn">
          <p> Already have an account , <a class="green-color" [routerLink]="['/login']">Sign In </a></p>
        </div>
        <!-- Modal footer Ends-->
      </form>
      <!-- form Ends -->

      <!-- form Starts -->
      <form (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" *ngIf="!this.sectionHide">
        <!-- Modal body -->
        <div class="modal-body">
          <div class= "page-container">
            <div class="window-container shadow-container">
              <div class="form-group">
                <mat-form-field class="full-width item-form">
                  <input md-no-asterisk matInput placeholder="{{'create-account.account-name' | translate}}" type="text" id="name"
                  required pattern="[a-zA-Z1-5]*" minlength="12" maxlength="12" [(ngModel)]="model.name" name="name"
                  #name="ngModel">
                  <mat-error *ngIf="name.errors?.required">{{'create-account.name-is-required' | translate}}</mat-error>
                  <mat-error *ngIf="name.errors?.pattern">{{'create-account.name-may-include' | translate}}</mat-error>
                  <mat-error *ngIf="name.errors?.minlength">{{'create-account.length-must-be' | translate}}</mat-error>
                  <mat-error *ngIf="name.errors?.maxlength">{{'create-account.length-must-be' | translate}}</mat-error>
                </mat-form-field>

                <!-- <mat-form-field class="full-width item-form">
                  <input matInput type="text" id="ownerKey" placeholder="{{ pubKeyActive }}"
                  [(ngModel)]="model.ownerKey" name="ownerKey" value="{{ pubKeyActive }}"   #ownerKey="ngModel" title="Owner Public Key (You can change if you wish)" readonly>
                  <mat-error *ngIf="name.errors?.required">{{'create-account.owner-key-is-required' | translate}}</mat-error>
                </mat-form-field> -->

                <mat-form-field class="full-width item-form">
                  <input matInput type="text" id="activeKey" placeholder="{{ pubKeyActive }}"
                  [(ngModel)]="model.activeKey" name="activeKey" value="{{ pubKeyActive }}"   #activeKey="ngModel" title="Active Public Key" readonly>
                </mat-form-field>
              </div>
            </div>
            <app-side-bar class="side-bar" *ngIf="loginService.loggedIn()"></app-side-bar>
          </div>
        </div>
        <!-- Modal body Ends-->
        <!-- Modal footer -->
        <div class="modal-footer">
          <div class="button-container">
            <button  id="submit" [ngClass]="{'grey-button': !loginService.loggedIn()}"
            class="submit button-submit" type="submit" mat-raised-button color="primary" on>{{'buttons.create' | translate}}</button>
          </div>
        </div>
        <!-- Modal footer Ends-->
      </form>
      <!-- form Ends -->
    </div>

  </div>
</div>
