<!-- Hedaer for Login pages STARTS-->
<header *ngIf="loginService.loggedIn()" id="page-header" class="pgheader fontfamilyJosefin mb-3 background-header container-fluid bottom-shadow">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand logo_h" routerLink="/"><img class="logo" src="./../../assets/images/DC.png"><img class="logo-img" src="./../../assets/images/logo_Dreamium.png"></a>
    <button class="navbar-toggler" (click)="toggle()" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link cursor-pointer" [routerLink]="['/accountInfo']" routerLinkActive="active">Account Info</a></li>
        <li class="nav-item"><a class="nav-link cursor-pointer" [routerLink]="['/findAccount']" routerLinkActive="active">Search Account</a></li>
        <li class="nav-item"><a class="nav-link cursor-pointer" [routerLink]="['/transferTokens']" routerLinkActive="active">Transfer</a></li>
        <li class="nav-item"><a class="nav-link cursor-pointer" [routerLink]="['/txhistory']" routerLinkActive="active">Tx History</a></li>
        <li class="nav-item"><a class="nav-link cursor-pointer" [routerLink]="['/about']" routerLinkActive="active">About</a></li>
        <li class="nav-item"><a class="nav-link cursor-pointer" [routerLink]="['/faq']" routerLinkActive="active">FAQ</a></li>
        <li class="nav-item"><a class="nav-link cursor-pointer" href="http://13.127.11.33/" target="_blank" routerLinkActive="active">Block Explorer</a></li>
        <li class="nav-item"><a class="nav-link cursor-pointer" (click)="logout();" routerLinkActive="active">Logout</a></li>
      </ul>
    </div>
  </nav>
</header>
<!-- Hedaer for Login pages ENDS-->

<!-- Hedaer for nonLogin pages STARTS-->
<header *ngIf="!loginService.loggedIn()" id="page-header" class="pgheader fontMontserrat mb-3 background-header container-fluid bottom-shadow">
  <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand logo_h" routerLink="/"><img class="logo" src="./../../assets/images/DC.png"><img class="logo-img" src="./../../assets/images/logo_Dreamium.png"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item"><a class="nav-link cursor-pointer" [routerLink]="['/login']">Account</a></li>
        <li class="nav-item"><a class="nav-link cursor-pointer" href="http://13.127.11.33/" target="_blank" routerLinkActive="active">Explorer</a></li>
        <li class="nav-item"><a class="nav-link cursor-pointer" [routerLink]="['/about']" routerLinkActive="active">About</a></li>
        <li class="nav-item"><a class="nav-link cursor-pointer" [routerLink]="['/faq']" routerLinkActive="active">FAQ</a></li>
      </ul>
    </div>
  </nav>
</header>
<!-- Hedaer for nonLogin pages ENDS-->
